{{ form_start(form) }}
    {# {{ form_widget(form) }} #}
    <div class="form-group ">
	<label class="col-sm-5 control-label no-padding-right">{{ form_label(form.department) }}</label>
	{{ form_widget(form.department,{'attr':{'class':'form-control select2bs4'}}) }}
<div class="help-block text-danger">{{form_errors(form.department)}}</div>
</div>
 <div class="form-group ">
	<label class="col-sm-5 control-label no-padding-right">{{ form_label(form.role) }}</label>
	{{ form_widget(form.role,{'attr':{'class':'form-control select2bs4'}}) }}
<div class="help-block text-danger">{{form_errors(form.role)}}</div>
</div>
 <div class="form-group ">
	<label class="col-sm-5 control-label no-padding-right">{{ form_label(form.orderNumber) }}</label>
	{{ form_widget(form.orderNumber,{'attr':{'class':'form-control'}}) }}
<div class="help-block text-danger">{{form_errors(form.orderNumber)}}</div>
</div>
    <button class="btn btn-primary float-right">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
